.facebook-outline, .facebook-detail {
    transition: 300ms all;
    transform-origin: 50% 50%;
}

.facebook-detail {
    opacity: 0; 
}

.facebook-icon-group:hover .facebook-outline {
    transform: scale(1.8);
    opacity: 0; 
}

.facebook-icon-group:hover .facebook-detail {
    opacity: 1; 
    transform: scale(0.8) rotate(45deg);
}